body{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(250, 140, 222);
    margin:0;
    padding: 0;
}
.cart-list{
    margin: 30px 100px 10px 100px;
    padding: 12px;
    background-color: rgb(226, 238, 207);
    border-radius: 5px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(230, 245, 206),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.bill-section{
    margin: 0px 100px 10px 100px;
    background-color: rgb(226, 238, 207);
    border-radius: 5px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(230, 245, 206),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}