body{
    margin: 0;
    padding: 0;
    background-image:url("background.jpg") ;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
}
.loginpage{
    background-color: rgb(243, 212, 171);
    margin: 80px 80px 20px 500px;
    z-index: 1000;
    padding: 12px;
    line-height: 20px;
    position: relative;
    color: rgb(78, 35, 15);
    font-size: 20px;
    font-weight: bold;
}
.background{
    /* position:relative; */
    z-index: -1;
}
    